<html>
	<body>
		<form action="/parametros/pasarParametros" method="get">
			Nombre: <input type="text"name="nombre"/>
			Apellidos: <input type="text" name="apellido" />
			<input type="submit" value="Pulsa"/>
		</form>
	</body>

</html>
