<html>
	<body>
		<form action="/validador/validar" method="get">
			Nombre: <input type="text"name="nombre"/>
			Password: <input type="text" name="pass" />
			<input type="submit" value="Pulsa"/>
		</form>
				<a href="/AltaUsuario/index">Alta nuevo usuario</a>
	</body>

</html>
