<h1>TablaMultiplicar#mostrar</h1>

Ejemplo de como ejecutar código ruby en el servidor

<form action= "/TablaMultiplicar/mostrar">
	<input type="number" name="numero1">
	<input type="submit" value="Mostrar tabla">
</form>

<%

#Empezamos a hacer ruby
numero = params[:numero1]
if numero !=nil
	numero=numero.to_i
	for i in (1..10)
		valor =i *numero
%>
		<h3><%=i%> * <%=numero%> = <%=valor%></h3>
<%

	end
end
%>
